<launch>

	<arg name = "model"/>

	<!--Parsing the xarco file and loading robot desctiption parameters-->
	<param name = "robot_description" command = "$(find xacro)/xacro.py $(find differential_drive_robot)/urdf/differential_drive.xacro"/>

	<!--Enabling GUi for joint state publisher-->
	<param name = "use_gui" value = "true"/>

	<!--Setting Joint State Publisher-->
	<node name = "joint_state_publisher" pkg = "joint_state_publisher" type = "joint_state_publisher"/>

	<!--Setting Robot State Publisher-->
	<node name = "robot_state_publisher" pkg = "robot_state_publisher" type = "state_publisher"/>

	<!--Setting RViZ-->
	<node name = "rviz" pkg = "rviz" type = "rviz" args = "-d $(find differential_drive_robot)/urdf.rviz" required = "true"/>

</launch>
